<?xml version="1.0"?>
<launch>
  <!-- Velocity control need to close 'rqt_control' -->
  <!-- <arg name="rqt_control" value="false"/>  -->
  <arg name="rqt_control" value="true"/>
  <arg name="with_camera" value="false"/>
  <arg name="use_gui" value="true"/> <!-- don't open it when gazebo gui state on-->

  <!-- load local octomap file-->
  <param name="octomap_resolution" type="double" value="0.01" />
  <group ns="move_group">
    <param name="octomap_resolution" type="double" value="0.01" />
    <param name="octomap_frame" type="string" value="world" /> 
  </group>
  <include file="$(find rokae_octomap_unit)/launch/load_octomap.launch" />
  
  <!-- Use local camera to get point cloud. You need to annotate local octomap loader and change the sensor configuration. -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="depth_width" value="1280"/>
      <arg name="depth_height" value="720"/>
      <arg name="depth_fps" value="30"/>
      <arg name="color_width" value="1920"/>
      <arg name="color_height" value="1080"/>
      <arg name="color_fps" value="30"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="filters" value="pointcloud"/>
  </include> -->

  <!-- Launch Gazebo  -->
  <include file="$(find elerobot_simple_control)/launch/elerobot_gazebo_world.launch" >
    <arg name="with_camera" value="$(arg with_camera)"/>
  </include>

  <!-- ros_control arm launch file -->
  <include file="$(find elerobot_simple_control)/launch/elerobot_gazebo_states.launch" > 
    <arg name="use_gui" value="$(arg use_gui)"/>
  </include> 

  <!-- ros_control trajectory control dof arm launch file -->
  <include file="$(find elerobot_simple_control)/launch/elerobot_trajectory_controller.launch">
    <arg name="rqt_control" value="$(arg rqt_control)"/>
  </include>

  <!-- moveit launch file -->
  <include file="$(find elerobot_moveit_config)/launch/moveit_planning_execution.launch"/>

  <node name="map_world_broadcater" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map world  5" />

  <!-- A-star Planner -->
  <!-- <include file="$(find rokae_arm_navigation)/launch/rokae_arm_navigation.launch"/> -->

  <!-- JPS Planner -->
  <include file="$(find rokae_jps_navigation)/launch/rokae_arm_navigation_JPS.launch"/>
  
</launch>
