<?xml version="1.0"?>
<launch>

  <arg name="use_gui" default="false"/>
  
  <rosparam file="$(find elerobot_moveit_config)/config/gazebo_controllers.yaml" command="load"/>

  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
  output="screen" args="joint_state_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
    <!-- <remap from="joint_states" to="/rokae_arm/joint_states"/> -->
    <rosparam param="source_list">[/joint_states]</rosparam>
    <!-- <rosparam param="source_list">[/elerobot/joint_states]</rosparam>  -->
  </node>


  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
    <rosparam param="source_list">[/joint_states]</rosparam>
    <!-- <rosparam param="source_list">[/elerobot/joint_states]</rosparam>  -->
  </node>

</launch>
