<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="elerobot">


  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="true" /> 
  <!-- Intel RealSense i435 -->
  <!-- <xacro:arg name="with_camera" default="true" /> -->
  <xacro:arg name="with_camera" default="false" />

  <!-- Robot name -->
  <xacro:property name="arm_id" value="elerobot" />

  <xacro:include filename="$(find elerobot_description)/xacro/elerobot.xacro"/>

  <xacro:if value="$(arg gazebo)">
    <xacro:elerobot arm_id="${arm_id}" with_camera="$(arg with_camera)"/>

    <!-- gazebo color -->
    <xacro:gazebo_white link="${arm_id}_link0"/>
    <xacro:gazebo_white link="${arm_id}_link1"/>
    <xacro:gazebo_white link="${arm_id}_link2"/>
    <xacro:gazebo_white link="${arm_id}_link3"/>
    <xacro:gazebo_white link="${arm_id}_link4"/>
    <xacro:gazebo_white link="${arm_id}_link5"/>
    <xacro:gazebo_grey  link="${arm_id}_link6"/>
    <xacro:gazebo_red   link="${arm_id}_link7"/>

    <!-- gazebo joint hardware interface -->
    <xacro:gazebo-joint joint="${arm_id}_joint0" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/PositionJointInterface" />

    <!-- Gazebo plugin for ROS control -->
    <gazebo> <!-- controller -->
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
        <controlPeriod>0.001</controlPeriod>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <legacyModeNS>true</legacyModeNS>
      </plugin>
      <self_collide>true</self_collide>
      
      <plugin filename="libgazebo_ros_moveit_planning_scene.so" name="gazebo_ros_moveit_planning_scene">
        <topicName>/planning_scene</topicName>
        <sceneName>factory</sceneName>
        <robotName>/${arm_id}</robotName>
        <updatePeriod>0.5</updatePeriod>
      </plugin>

      <plugin name="gravity_compensation" filename="libGravityCompensationPlugin.so"/>
    </gazebo>
  </xacro:if>

</robot>
